  .pomme {
    background-position: left top;
  }

  .banane {
    background-position: left -100px ;
  }

  .peche {
    background-position: left -200px ;
  }

  .citronvert {
    background-position: left -300px ;
  }

  .grenadine {
    background-position: left -400px ;
  }

  .abricot {
    background-position: left -500px ;
  }

  .citronjaune {
    background-position: left -600px ;
  }

  .fraise {
    background-position: left -700px ;
  }

  .pommeverte {
    background-position: left -800px ;
  }
  .kaki {
    background-position: left -900px ;
  }

  .raisin {
    background-position: left -1000px ;
  }
  .pasteque {
    background-position: left -1100px ;
  }

  .prune {
    background-position: left -1200px ;
  }

  .poire {
    background-position: left -1300px ;
  }

  .cerise {
    background-position: left -1400px ;
  }  

  .framboise {
    background-position: left -1500px ;
  }

  .mangue {
    background-position: left -1600px ;
  }

  .mirabelle {
    background-position: left -1700px ;
  }